/*DarkRank by ilkemerol*/

body{
    background: #323a48 !important;
    color: #2bc96a !important;
}

.page_footer{
    background: #353e4b !important;

    margin-top: 0px !important;
}

.content-header{
    background: #323a48 !important;
}
.clearfix li{
    color: #2bc96a !important;
}

.bold.txt-navy{
    color: #2bc96a !important;
}

.body-wrap{
    background: #323a48 !important;
}

#wrapper{
    background: #323a48 !important;
}

.contests-list-view.mdB{
    background: #6c717b !important;
}

.challenges-list div{
    background: #6c717b !important;
}

#challengeAccordion{
    background: #323a48 !important;
}

.nav-tabs.nav.mlT{
    background: #323a48 !important;
}
.hackdown-content pre{
    background: #6c717b !important;
}
.hackdown-content p{
    color: #ffffff !important;
}
.hackdown-content strong{
    color: #2bc96a !important;
}
.hackdown-content code{
    color: #2bc96a !important;
}
.clearfix.grey-header.fixed-hand0.cap.plL.plR.psT.psB{
    background: #323a48 !important;
}
.clearfix.pmR.pmL.pmB.plT.fixed-hand1.codeshell-footer{
    background: #323a48 !important;
}
.tab-content.light-wrap{
    background: #323a48 !important;
}
.CodeMirror-cursors{
    color: #ffffff !important;
}
.CodeMirror-selected{
    background: #6c717b !important;
}
.CodeMirror-lines{
    background: #323a48 !important;
    color: #ffffff !important;
}
.CodeMirror-activeline-background.CodeMirror-linebackground{
    background: #323a48 !important;
}
.CodeMirror-gutter.CodeMirror-foldgutter{
    background: #323a48 !important;
}
.CodeMirror-linenumber.CodeMirror-gutter-elt{
    color: #5f6772 !important;
}
.CodeMirror-sizer{
    background: #323a48 !important;
}
.CodeMirror-gutters{
    background: #323a48 !important;
}
.output-area-wrap pre{
    background: #6c717b !important;
}
.output-area-wrap code{
    color: #ffffff !important;
}
.output-progress.padded.light-wrap.mlT.mlB.psT{
    background: #6c717b !important;
}
.output-area-wrap a{
    background: #6c717b !important;
}
.CodeMirror.cm-s-default.CodeMirror-wrap {
    background: #323a48 !important;
}

.fill-light{
    background: #323a48 !important;
}
.jobs-landing-header.msT a{
    color: #2bc96a !important;
}

#myRankTab li{
    background: #323a48 !important;
}
.table-body{
    background: #323a48 !important;
}
.clearfix.table-wrap header{
    background: #323a48 !important;
}
.text-center.levelTab a{
    background: #323a48 !important;
}

.nav-tabs.nav.mlT a{
    background: #6c717b !important;
}
.comments-container ul{
    background: #323a48 !important;
}
.discussion-root-node-knob{
    background: #323a48 !important;
}
.comments-container pre{
    background: #6c717b !important;
}
.comments-container code{
    background: #6c717b !important;
}
.editorial-header-box{
    background: #323a48 !important;
}
.editorial-code-box{
    background: #6c717b !important;
}

.table-wrap header{
    background: #323a48 !important;
}
.leaderboard-list-view div{
    background: #323a48 !important;
}
.pagination a{
    background: #323a48 !important;
}
.submissions-list-view div{
    background: #323a48 !important;
}
.submission_testcases-results.ab-testcase.testcases-results.clearfix{
    background: #323a48 !important;
}
.span9.small.bold{
    color: #2bc96a !important;
}
.span9.small.bold strong{
    color: #2bc96a !important;
}
.color-dark{
    color: #2bc96a !important;
}

.cm-meta{
    color: #ac3841 !important;
}
.cm-keyword{
    color: #76b2d6 !important;
}
.cm-variable{
    color: #99cb6c !important;
}
.cm-number{
    color: #8f76ad !important;
}
.cm-operator{
    color: #ffffff !important;
}
.cm-string{
    color: #dcd899 !important;
}
.cm-comment{
    color: #49483e !important;
}

.hr_nav_notifications_list ul {
    background: #323a48 !important;
}
.final a{
    background: #323a48 !important;
}
#profile-settings-sidebar ul{
    background: #323a48 !important;
}

#profile-settings-sidebar li{
    color: #2bc96a !important;
}
.new-topbar{
    background: #323a48 !important;
}

.plT.plB.static-footer.white_footer.fill-dark.treatment-footer{
    background: #323a48 !important;
}
.static-section{
    background: #323a48 !important;
}
.login-group.homepage_admin.light-wrap{
    background: #323a48 !important;
}
.responsive-form.block-center a{
    background: #323a48 !important;
}

.light-wrap.plA.mlT.clearfix{
    background: #323a48 !important;
}
.submission-model-panel{
    background-color: #323a48 !important;
}